* {
    font-family: arial;
    font-size: 16px;
}

body {
    background-color: rgb(98, 140, 231);
}

main {
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5x black;
}